.center {
    display: block;
    margin: 0 auto;
}

[data-md-color-scheme="education"] {
    --md-primary-fg-color:        #253779;
    --md-primary-fg-color--light: #253779;
    --md-primary-fg-color--dark:  #253779;
  }

article img:not(.override-img-styling) {
    max-width: 90% !important;
    max-height: 33vh !important;
    border: 1px solid #dddddd;
    display: block;
    margin: 10px auto;
}